{% extends 'errors/base.twig' %}

{% set line = inspector.lineOfFirstAppFile - 7 %}

{% block main %}
    {% if inspector.help %}
        <div class="container my-4">
            <article class="message is-success">
                <div class="message-body">
                    <span class="icon is-large">
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-square fa-stack-2x"></i>
                            <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        </span>
                    </span>
                    <div>
                        <h4 class="is-size-4">Possible solution</h4>
                        <hr class="has-background-success my-1" />

                        {{ inspector.help|markdown_to_html }}
                    </div>
                </div>
            </article>
        </div>
    {% endif %}
    <div class="tabs my-4">
        <ul>
            <li class="tab is-active" onclick="openTab(event,'code')"><a>Code</a></li>
            <li class="tab" onclick="openTab(event,'stackTrace')"><a>Stack trace</a></li>
        </ul>
    </div>
    <div class="container my-4">
        <div id="code" class="content-tab">
            <div class="my-2"><strong>File:</strong> <code>{{ inspector.firstAppFile }}</code></div>
            <pre class="line-numbers" data-line-offset="{{ line }}" data-start="{{ line }}" data-line="{{ line + 7 }}"><code class="language-php">{{ inspector.codeOfFirstAppFile(7) }}</code></pre>
        </div>

        <div id="stackTrace" class="content-tab" style="display:none">
            <div class="table-container">
                <table class="table">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>File</th>
                        <th>Class/Function</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for entry in throwable.getTrace %}
                        <tr>
                            <td>#{{ loop.index }}</td>
                            <td>{{ entry.file }}{{ entry.line ? ":"}} {{ entry.line }}</td>
                            <td>{{ handler.functionCall(throwable, loop.index) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}